.footer {
    font-family: bariol_bold, bariol_boldvn;
    background: $foot_bg;
    position: relative;

    &__mess {
        background: transparent;
        width: 100%;
        height: 50px;
        position: absolute;
        top: -50px;


        button {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 20%;
            height: 36px;
            background: $red_pri;
            color: #d3b961;
            text-align: left;
            z-index: 1001;

            span {
                padding-left: 50px;
                display: block;
                background: url(../img/foot_mess_icon.png) no-repeat;
                background-size: 23px 19px;
                background-position: 10px 50%;
                position: relative;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: -20px;
                    top: -8px;
                    width: 20px;
                    height: 36px;
                    border-top-left-radius: 7px;
                    -ms-transform: skewX(-40deg);
                    -moz-transform: skewX(-40deg);
                    -webkit-transform: skewX(-40deg);
                    transform: skewX(-40deg);
                    background: $red_pri;
                }

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: -22px;
                    top: -12px;
                    width: 0;
                    height: 0;
                    border-top: 20px solid transparent;
                    border-left: 20px solid transparent;
                    border-right: 20px solid transparent;
                    border-bottom: 20px solid $red_pri;
                }
            }
        }
    }

    .navbar {
        border-radius: 0;
        margin: 0;
        border: none;
        min-height: 60px;
        background: transparent;
        padding-top: 5px;
    }

    .navbar-inverse {
        .navbar-nav {
            li {
                a {
                    /*color: #7b6c41;*/
                    color: #d3b961;
                    font-size: 16px;
                }
            }

            .open {
                a {
                    color: #000000;
                    background: transparent;
                    font-size: 18px;
                    
                    &:hover {
                        color: $red_pri;
                    }
                }

                a.dropdown-toggle {
                    color: #d3b961;
                    font-size: 16px;
                }
            }
            
        }

        .navbar-nav.link {
            li {
                a {
                    color: #d3b961;
                    font-size: 12px;

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    .dropdown {

        .dropdown-menu {
            width: 100vw;
            padding: 0;
            top: -55px;
            border: none;
            border-radius: 0;
            box-shadow: none;

            li {
                float: left;

                a {
                    padding: 12px 15px;
                    color: #000000;
                }
            }

            &::before {
                content: "";
                position: absolute;
                width: 100vw;
                height: 50px;
                left: -100vw;
                top: 0;
                background: #ffffff;
            }
        }
    }

    @media only screen and (max-width: 991px) {
        & {
            display: none;
        }
    }
}