.header {
    background: url(../img/header_background_pc.jpg) no-repeat;
    background-size: 100%;
    position: relative;
    font-family: bariol_bold, bariol_boldvn;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    
    /* header top*/
    &__top {
        border-top: 3px solid $red_pri;
        font-size: 12px;

        ul {
            
            div {
                float: right;
                width: 263px;
                background: $red_pri;
                text-align: right;
                padding: 7px 0 7px 27px;
                position: relative;
                z-index: 2;

                li {
                    float: left;
                    padding-left: 23px; 
                    background: transparent;
                    z-index: 2;

                    button {
                        color: #ffffff;
                    }
                }

                li.un_active {

                    button {
                        color: #c66e6d;
                    }
                }

                li:last-child {
                    float: right;
                    padding-left: 30px;
                    position: relative;
                }

                li:last-child::before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    border-left: 1px solid #ffffff;
                }

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    background: $red_pri;
                    left: -15px;
                    top: 0px;
                    width: 25px;
                    height: 35px;
                    border-bottom-left-radius: 10px;
                    @include skew(20deg);
                }
            }
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 22vw;
            height: 36px;
            background: $red_pri;
            right: 0;
            top: 2px;
            z-index: 1;
        }
    }

    &__main {
        margin-top: -28px;
        font-size: 16px;

        .navbar {
            border-radius: 0;
            margin: 0;
            margin-bottom: 15px;
            border: none;
            min-height: 97px;
            background: transparent;
        }

        .navbar-inverse {

            .navbar-nav {

                li {
                    margin-top: 7px;

                    a {
                        color: #000000;
                        padding: 9px 15px;
                    }

                    &:hover {
                        @extend %header_menu_active;
                    }
                    
                    &.active {
                        @extend %header_menu_active;
                    }
                }
            }
        }
    }
    
    /*header main*/
    &__logo {
        padding: 0;
        height: 100%;
        z-index: 5;

        img {
            width: 75px;
            height: 97px;
        }
    }

    &__menu {
        margin-top: 25px;
        position: absolute;
        right: 0;
    }

    &__search {
        margin-top: 3px;
        margin-left: 10px;
        background: rgba(255, 255, 255, 0.4);
        @include skew(20deg);
        border: 2px solid $red_pri;
        overflow: hidden;
        @extend %bd-radius;
        padding: 8px 10px;
        font-family: bariol_reg, bariol_regvn;
        width: 50px;
        -ms-transition: width 0.5s;
        -moz-transition: width 0.5s;
        -webkit-transition: width 0.5s;
        transition: width 0.5s;
        cursor: pointer;

        input {
            width: 100%;
            border: none;
            padding-right: 30px;
            float: left;
            @include skew(-20deg);
            z-index: 4;
            background: transparent;

            &::placeholder {
                color: $red_pri;
            }
        }

        button {
            float: left;
            position: absolute;
            right: 5px;
            top: 0px;
            @include skew(-20deg);
            z-index: 3;
            padding: 10px 10px 7px;
        }

        &.show {
            width: 330px;
            cursor: text;
        }
    }
    
    /* header on sp open modal*/
    &__sp {
        display: none;
    }

    /****************************
        MOBILE RESPONSIVE
    *****************************/
    @media only screen and (max-width: 991px) {

        &__menu {
            display: none;
        }

        &__top {

            ul {
                display: none;
            }

            &::after {
                display: none;
            }
        }

        &__main {
            margin-top: 0;
            padding-top: 17px;
        }

        &__hamberger {
            display: block;
            position: absolute;
            right: 0;
            
            &.navbar-toggle {
                margin: 0;
                margin-top: 35px;
                background: transparent;
                border: none;
                padding: 0;

                .icon-bar {
                    background: #000000;
                    width: 50px;
                    height: 5px;
                    border-radius: 5px;

                    & + .icon-bar {
                        margin-top: 7px;
                    }
                }

                &:hover {
                    background: transparent;
                }
            }
        }
        
        /* header modal menu on sp */
        &__sp {
            position: absolute;
            width: 100%;
            background: #ffffff;
            z-index: 3;
            top: 0;
            left: 0;
            height: 100vh;
            font-family: bariol_bold, bariol_boldvn;
            overflow-y: hidden;

            & > div {
                position: relative;
                height: 100vh;
                overflow-y: scroll;

            }

            .container {
                padding: 30px 15px;
                

                input::placeholder {
                    color: $red_pri;
                    font-size: 16px;
                }
            }
        }

        &__close--btn {
            position: fixed;
            top: 30px;
            right: 15px;
            display: block;
            width: 20px;
            height: 20px;
            background: url(../img/menu_close_btn.png) no-repeat;
            background-size: 100%;
        }

        &__link {
            margin-bottom: 30px;

            a {
                color: #000000;
                margin-right: 30px;
            }
        }

        &__searchsp {
            @include skew(20deg);
            padding: 7px 15px;
            border: 1px solid $red_pri;
            position: relative;
            border-radius: 5px;
            margin-bottom: 30px;

            input {
                width: 100%;
                border: none;
                padding-right: 30px;
                float: left;
                @include skew(-20deg);
            }

            button {
                float: left;
                position: absolute;
                right: 15px;
                top: 9px;
                @include skew(-20deg);
            }
        }

        &__menusp {
            margin-bottom: 4%;
            font-size: 18px;

            li {
                margin: 5vh 0;
                text-align: center;

                a {
                    color: #000000;
                }

                .sub_menu {
                    font-size: 14px;
                    display: none;

                    li {

                        a {
                            color: gray;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }

                        &:hover a {
                            color: $red_pri;
                        }
                    }
                }
            }
        }

        &__toolsp {
            text-align: center;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            padding: 15px 0;
            background: #ffffff;

            li {
                display: inline-block;
                margin: 0 15px;

                button {
                    color: $red_pri;
                }

                &.un_active button {
                    color: #c66e6d;
                }
            }

            li:last-child {
                padding-left: 30px;
                position: relative;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    border-left: 1px solid $red_pri;
                }
            }
        }
    }

    @media only screen and (max-width: 767px) {
        
        & {
            background: url(../img/header_background_sp.jpg) no-repeat;
            background-size: 100%;
        }
        
        &__main {
            padding-top: 15px;

            .navbar {
                margin-bottom: 15px;
            }
        }
    }
}