/* font family */
@font-face {
    font-family: bariol_reg;
    src: url(../lib/fonts/Bariol_Regular.otf);
}
@font-face {
    font-family: bariol_bold;
    src: url(../lib/fonts/Bariol_Bold.otf);
}
@font-face {
    font-family: bariol_regvn;
    src: url(../lib/fonts/SVN-Bariol_Regular.otf);
}
@font-face {
    font-family: bariol_boldvn;
    src: url(../lib/fonts/SVN-Bariol_Bold.otf);
}

/* colors */
$red_pri : #800700;
$foot_bg : #231f20;
$yellow_pri : #d3b961;

%bd-radius {
    border-top-left-radius: 5px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 5px;
}

%bd-radius-right {
    border-top-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 10px;
}

@mixin skew($deg) {
    -webkit-transform: skewX($deg);
    -moz-transform: skewX($deg);
    -ms-transform: skewX($deg);
    transform: skewX($deg);
}


%header_menu_active {
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid $red_pri;
    @extend %bd-radius;
    @include skew(20deg);
    
    & a {
        @include skew(-20deg);
    }
}
