@import 'common';
@import 'variables';
@import 'header';
@import 'footer';

.main {
    
    &__map {

        iframe {
            width: 100%;
            height: 500px;
        }
    }

    &__content:last-child {
        padding-top: 85px;
        
        .title {
            font-family: bariol_bold, bariol_boldvn;
            font-size: 20px;
            margin-bottom: 30px;
        }

        .info {
            font-size: 18px;
            margin-bottom: 33px;
        }

        .about {
            font-size: 18px;

            strong {
                margin-right: 10px;
            }
        }
    }

    @media only screen and (max-width: 1199px) {

        &__map {

            iframe {
                height: 460px;
            }
        }
    }

    @media only screen and (max-width: 991px) {

        &__map {

            iframe {
                height: 350px;
            }
        }
    }

    @media only screen and (max-width: 767px) {

        &__content:first-child {
            margin-bottom: 0;
        }

        &__map {

            iframe {
                height: -webkit-calc((100vw - 100px)*450/600);
                height: -moz-calc((100vw - 100px)*450/600);
                height: -ms-calc((100vw - 100px)*450/600);
                height: calc((100vw - 100px)*450/600);
            }
        }

        &__content:last-child {
            padding-top: 30px;
        }
    }
}