@import 'common';
@import 'variables';
@import 'header';
@import 'footer';

.main {
    
    &__title {
        margin-bottom: 15px;
    }

    &__infors {
        font-size: 16px;
    }

    .list_questions {
        font-size: 18px;
        margin-bottom: 30px;

        li {
            border-bottom: 2px solid #e7e8e9;
            padding: 16px 0;
            position: relative;

            a {
                margin-bottom: 0;
                color: #919191;
            }

            &.actived a {
                font-family: bariol_bold, bariol_boldvn;
                color: #000000;

            }

            &:first-child {
                padding-top: 0;
            }
        }
    }

    .actions {
        font-size: 16px;
        font-family: bariol_bold, bariol_boldvn;
        text-align: center;

        button.back {
            margin-right: 25px;
        }

        i.arrow {
            display: inline-block;
            width: 40px;
            height: 100%;
            position: relative;
                
            &::after {
                content:"";
                display: block;
                position: absolute;
                width: 33px;
                border: 1px solid #a09fa0;
                top: -7px;
            }

            &.right::after {
                left: 0;
            }

            &.left::after {
                right: 0;
            }

            &::before {
                content:"";
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                top: -11px;
            }

            &.left::before {
                left: -3px;
                border-right: 5px solid #a09fa0;
            }

            &.right::before {
                right: -3px;
                border-left: 5px solid #a09fa0;
            }
        }

        span.page {
            font-size: 16px;
            margin: 0 13px 0 32px;
            color: #a09fa0;

            &.sum {
                margin: 0 32px 0 13px;
                color: $yellow_pri;
            }
        }

        button.next {
            margin-left: 25px;
        }
    }

    &__buttonsp {
        display: none;
    }

    @media only screen and (max-width: 1199px) {

        .actions {

            button.back {
                margin-right: 15px;
            }

            i.arrow {
                width: 35px;
                    
                &::after {
                    width: 28px;
                }

            }

            span.page {
                margin: 0 13px 0 25px;

                &.sum {
                    margin: 0 25px 0 13px;
                }
            }

            button.next {
                margin-left: 15px;
            }
        }
    }

    @media only screen and (max-width: 991px) {

        .actions {

            button.back {
                margin-right: 15px;
            }

            i.arrow {
                width: 20px;
                    
                &::after {
                    width: 13px;
                }

            }

            span.page {
                margin: 0 5px 0 10px;

                &.sum {
                    margin: 0 10px 0 5px;
                }
            }

            button.next {
                margin-left: 15px;
            }
        }
    }

    @media only screen and (max-width: 767px) {

        .page_title.sp {
            position: relative;
            
            button {
                position: absolute;
                right: 0;
                top: -5px;
                display: block;
                width: 20px;
                height: 20px;
                background: url(../img/product_list_close_icon.png);
                background-size: 20px;
            }
        }

        &__content:first-child {
            margin-bottom: 0;
            position: relative;
        }

        &__content:last-child {
            display: none;
            position: absolute;
            top: 0;
            height: 100%;
            z-index: 1;
            background: #ffffff;
        }

        .list_questions {
            margin-bottom: 30px;
        }

        .actions {

            button.back {
                margin-right: 20px;
            }

            i.arrow {
                width: 30px;
                    
                &::after {
                    width: 23px;
                }

            }

            span.page {
                margin: 0 13px 0 20px;

                &.sum {
                    margin: 0 20px 0 13px;
                }
            }

            button.next {
                margin-left: 20px;
            }
        }

        &__buttonsp {
            display: block;
            font-size: 14px;
            font-family: bariol_bold, bariol_boldvn;
            color: $red_pri;
            position: absolute;
            top: 27px;
            right: 15px;
            z-index: 1;

            span {
                margin-left: 5px;
            }
        }
    }
}