@import 'common';
@import 'variables';
@import 'header';
@import 'footer';

.header {
    background: transparent;

    &::before {
        display: none;;
    }
}


.main {
    margin-bottom: -6px;
    margin-top: 3px;
    height: calc(100vh - 3px);

    .slide_item {
        padding: 161px 0 60px;
        height: -ms-calc(100vh - 63px);
        height: -moz-calc(100vh - 63px);
        height: -webkit-calc(100vh - 63px);
        height: calc(100vh - 63px);
        position: relative;
        color: #ffffff;
        overflow-x: hidden;
        font-family: bariol_bold, bariol_boldvn;

        h3 {
            font-size: 14px;
            position: relative;
            margin-bottom: 4.5vh;
            text-align: left;

            &::before {
                content: "";
                position: absolute;
                left: -30px;
                bottom: -8px;
                background: rgba(255, 255, 255, 0.5);
                display: block;
                width: 96px;
                height: 5px;
            }
        }

        h2 {
            font-size: 28px;
            margin-bottom: 0;
            text-align: left;
        }

        span.date {
            font-size: 10px;
            color: #d3b961;
            position: relative;
            display: block;
            margin-bottom: 3vh;

            &::before {
                content: "";
                display: block;
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 65px;
                border: 1px solid rgba(255, 255, 255, 0.4);
            }
        }

        img {
            width: 20vh;
            height: auto;
            margin: 2vh 0;
        }

        p {
            font-family: bariol_reg, bariol_regvn;
            font-size: 16px;
            margin-bottom: 4vh;
        }

        div {
            font-size: 16px;

            button.back {
                margin-right: 25px;
            }

            i.arrow {
                display: inline-block;
                width: 40px;
                height: 100%;
                position: relative;
                
                &::after {
                    content:"";
                    display: block;
                    position: absolute;
                    width: 33px;
                    border: 1px solid rgba(255, 255, 255, 0.6);
                    top: -7px;
                }

                &.right::after {
                    left: 0;
                }

                &.left::after {
                    right: 0;
                }

                &::before {
                    content:"";
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    top: -11px;
                }

                &.left::before {
                    left: -3px;
                    border-right: 5px solid rgba(255, 255, 255, 0.6);
                }

                &.right::before {
                    right: -3px;
                    border-left: 5px solid rgba(255, 255, 255, 0.6);
                }
            }

            span.page {
                font-size: 16px;
                margin: 0 13px 0 32px;

                &.sum {
                    margin: 0 32px 0 13px;
                    color: $yellow_pri;
                }
            }

            button.next {
                margin-left: 25px;
            }
        }

        .container {
            height: 100%;
            position: relative;
        }
    }

    &__mask {
        position: absolute;
        width: 60%;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
        top: 0;
        left: -250px;
        @include skew(25deg);
        box-shadow: 20px 0 0 0 rgba(0, 0, 0, 0.1), 40px 0 0 0 rgba(0, 0, 0, 0.1);
    }

    &__content {
        width: 350px;
        margin-top: auto;
        position: absolute;
        padding: 0;
        bottom: 0;
        left: 15px;
        min-height: auto;
    }

    &__hotnews {
        background: url(../img/main_background_01.jpg) no-repeat;
        background-size: cover;
        background-position: 50%;
    }

    &__notice {
        background: url(../img/main_background_02.jpg) no-repeat;
        background-size: cover;
        background-position: 50%;
    }

    &__product {
        background: url(../img/main_background_03.jpg) no-repeat;
        background-size: cover;
        background-position: 75%;
    }

    .list_slide {
        margin-bottom: 0;
    }

    .slick-next {
        position: fixed;
        top: 45%;
        right: 15px;
        z-index: 5;
        width: 22px;
        height: 42px;
        background: url(../img/main_next_slide_btn.png) no-repeat;
        background-size: 22px 42px;
    }

    .slick-prev {
        position: fixed;
        top: 45%;
        left: 15px;
        z-index: 5;
        width: 22px;
        height: 42px;
        background: url(../img/main_prev_slide_btn.png) no-repeat;
        background-size: 22px 42px;
    }

    @media only screen and (max-width: 991px) {

        .slide_item {
            height: -ms-calc(100vh - 3px);
            height: -moz-calc(100vh - 3px);
            height: -webkit-calc(100vh - 3px);
            height: calc(100vh - 3px);
        }

        &__mask {
            width: -ms-calc(100vw);
            width: -moz-calc(100vw);
            width: -webkit-calc(100vw);
            width: calc(100vw);
        }
    }

    @media only screen and (max-width: 767px) {

        &__mask {
            width: -ms-calc(100vw + 100px);
            width: -moz-calc(100vw + 100px);
            width: -webkit-calc(100vw + 100px);
            width: calc(100vw + 100px);
        }

        .slide_item {
            padding: 160px 0 80px 0;
            height: -ms-calc(100vh - 3px);
            height: -moz-calc(100vh - 3px);
            height: -webkit-calc(100vh - 3px);
            height: calc(100vh - 3px);

            h3 {
                font-size: 14px;
                position: relative;
                margin-bottom: 20px;

                &::before {
                    left: -30px;
                }
            }

            h2 {
                text-align: left;
            }

            span.date {
                margin-bottom: 20px;
            }

            img {
                width: 30%;
                height: auto;
                margin: 15px 0;
            }

            p {
                margin-bottom: 20px;
            }

            div {

                button.back {
                    margin-right: 20px;
                }

                i.arrow {
                    width: 30px;
                        
                    &::after {
                        width: 23px;
                    }

                }

                span.page {
                    margin: 0 13px 0 20px;

                    &.sum {
                        margin: 0 20px 0 13px;
                    }
                }

                button.next {
                    margin-left: 20px;
                }
            }

            .container {
                height: 100%;
                position: relative;
            }
        }

        &__content {
            width: -webkit-calc(100% - 15px);
            width: -moz-calc(100% - 15px);
            width: -ms-calc(100% - 15px);
            width: calc(100% - 15px);
            max-width: 350px;
            padding: 0;
            padding-right: 15px;
            left: 15px;
        }

        .slick-next {
            top: unset;
            bottom: 15px;
        }

        .slick-prev {
            top: unset;
            bottom: 15px;
        }
    }
}